{% extends 'base2.html' %}

{% block main %}
<ul class="timeLine" style="width: 1200px;">
    <li>
        <div class="con">css时间轴 - 样式</div>
    </li>
    <li>
        <div class="con">css时间轴 - 样式</div>
    </li>
    <li>
        <div class="con">css时间轴 - 样式</div>
    </li>
    <li>
        <div class="con">css时间轴 - 样式</div>
    </li>
    <li>
        <div class="con">css时间轴 - 样式</div>
    </li>
    <li>
        <div class="con">css时间轴 - 样式</div>
    </li>
    <li class="on">
        <div class="con">css时间轴 - 样式内容能容纳</div>
    </li>
    <li>
        <div class="con">css时间轴 - 样式</div>
    </li>
    <li>
        <div class="con">css时间轴 - 样式</div>
    </li>
    <li>
        <div class="con">流程结束</div>
    </li>
</ul>
{% endblock %}

